<mat-toolbar>
  <img src="../../../assets/img/brand/red.png" alt="" class="toolbar-logo" />
  <span class="toolbar-space"></span>
</mat-toolbar>
<div class="text-center mt-5">
  <div class="col-md-12">
    <div>
      <h1>Durée Totale de Test : {{ formatTime(timetotal) }}</h1>
    </div>
    <img
      src="../../../assets/img/brand/Exams-bro.png"
      class="img-fluid"
      style="max-width: 30%; height: auto"
    />
  </div>
  <div>
    <button
      class="md:w-full rounded-full button-yellow col-lg-3"
      (click)="navigateToTest()"
    >
      Start Test
    </button>
  </div>
</div>
